@import 'variables';

.row#three .aboutUs{
    height:$aboutUs-CardHeight;  
    background-color:#3e3e3e!important;
    padding:0;
    margin:0;
     .textContainer{
        position: relative;
        float: left;
         color:#FFF;
     }
     
    .personImage{
        height:auto;
        background:$red-highlights;
        margin:0;
        p{
           color:#FFF;
           font: 18px "Roboto", sans-serif;
            font-weight:300;
            padding: 0 5px;
        }
        a{
            max-width: 100%;
            font: 16px "Roboto", sans-serif;
            color:$red-highlights-darker-2;
            word-wrap: break-word;
            height:auto;
            line-height: 1.2rem;
            font-weight:500;
            padding: 8px 5px;
            margin-bottom: 5px;
        }
        
    }
    
}
