.row#two .aboutUs{
    height:$aboutUs-CardHeight; 
    padding:0;
    margin:0;
     .textContainer{
        position: relative;
        float: left;
         color:#FFF;
     }
     
    .personImage{
        height:auto;
        margin:0 0 50px 0;
        p{
           color:#FFF;
           font: 18px "Roboto", sans-serif;
            font-weight:300;
            padding: 0 5px;
        }
        a{
            max-width: 100%;
            font: 16px "Roboto", sans-serif;
            color:#FFF;
            background-color: rgba(204, 37, 37, 0.65)!important;
            word-wrap: break-word;
            height:auto;
            line-height: 1.2rem;
            font-weight:500;
            padding: 8px 5px;
            margin-bottom: 5px;
        }
        
    }
    
}
