@import 'variables';

.row#three .aboutUs{
    height:$aboutUs-CardHeight;  
    background-color:#dadada!important;
     .textContainer{
        width:80%;
        position: relative;
        float: left;
     }
     a{
          color:#c21017;
          font: 20px "Roboto", sans-serif;
          font-weight: 500;
          text-transform: lowercase;
        }  
    .personImage{
        width:20%;
        height:auto;
        position:relative;
        float:left;
        background:$red-highlights-darker-2;
        box-shadow: 1px 1px 10px;
        margin: 1% 0;
        p{
           color:#FFF;
           font: 18px "Roboto", sans-serif;
            font-weight:300;
            padding: 0 5px;
        }   
    }
    
}
