@import 'variables';
.businessCard{
    height:$top-row-card-height;
    background: $red-highlights!important;
    transition: box-shadow 1s;

    img{
        position:relative;
        float:left;
        margin:0 0 0 31%;
    }
}
   

