.input-field input[type=text]:focus, label.active {
     color: #c21017!important;
   }
 .input-field input[type=text]:focus,.input-field input[type=email]:focus, .input-field input[type=tel]:focus, .input-field textarea:focus{
     border-bottom: 1px solid #404040!important;
     box-shadow: 0 1px 0 0 #404040!important;
   }
   .input-field .prefix.active {
     color: #c21017!important;
   }