.input-field input[type=text]:focus, label.active {
     color: #c21017!important;
   }
 .input-field input[type=text]:focus,.input-field input[type=email]:focus, .input-field input[type=tel]:focus, .input-field textarea:focus{
     border-bottom: 1px solid #404040!important;
     box-shadow: 0 1px 0 0 #404040!important;
   }
   .input-field .prefix.active {
     color: #c21017!important;
   }
.modal-footer input{
    border:none;
    box-shadow: none;
  background-color: transparent;
  color: #343434;
    float: right;
    border-radius: 2px;
  background-clip: padding-box;
  line-height: 32px;
  text-transform: uppercase;
  border: none;
  outline: 0;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
