
.nav-wrapper{
    width:100%;
    background: #404040;

    .brand-logo{
      width:60px;
        height:auto;
        position: relative; 
        top:2%!important;
    }
    .brand-logo img{
        width:60px;
        height:auto;
        position: relative;
    } 
    
}

ul.side-nav li a.indentedLI {
  color: #ff4343!important;
}
.waves-effect.waves-custRed .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #ff4343;
}

  