$red-highlights: #c21017;
$red-highlights-darker-1: darken($red-highlights, 5%);
$top-row-card-height: 225px;
$welcomeCard-Padding: 2% 0 0 5%!important;
$card-margin-constant: 15px;
$ourWork-CardHeight: 500px;
$aboutUs-CardHeight: 300px;
$services-CardHeight: auto;

