$red-highlights: #db3a3a;
$red-highlights-darker-1: darken($red-highlights, 5%);
$red-highlights-darker-2: darken($red-highlights, 7%);
$welcomeCard-Padding: 1% 0 1% 3%!important;
$card-margin-constant: 15px;
$ourWork-CardHeight: 500px;
$aboutUs-CardHeight: auto;
$services-CardHeight: auto;

