body{
 background:#dadada;   
}
/* Nav Bar */
.navBar, nav{
    width:100%;
    height:80px!important;
    background: #404040;
}
.navBar ul li{ /* Materialize Default Override */
    position:relative;
    float:left;
    height:80px!important;
    line-height:80px!important;
}
.navBar ul li a i{ /* Materialize Default Override */
    height:80px!important;
    line-height:80px!important;
}
#services.dropdown-content{ /* Materialize Default Override */
    width: 300px!important;
    left: 80%!important;
    
}
#services.dropdown-content li a{ /* Materialize Default Override */
    color:#c21017!important;
} 
.brand-logo img{
    width:70px;
    height:auto;
    position: relative;
    margin-top: 5px;
}

ul.side-nav li a.indentedLI {
  color: #c21017!important;
}
.waves-effect.waves-custRed .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #c21017;
    }

/* Content styles */

/* Business Card */
.businessCard{
    height:225px;
    background: #bfbfbf!important;
    transition: box-shadow 1s;
}  
.businessCard img{
    position:relative;
    float:left;
    
}
.bcRightHandText{
   width: 70%;
  height: 145px;
  position: ABSOLUTE;
  float: left;
  margin: 0;
  padding: 0 15px;
  background: #404040;
  box-shadow: inset 4px 0px 10px #242424, inset 0px 0px 10px #242424;
  right: 0;
  top: 0;
}
.contInfo{
    text-align: right;
    color:#bfbfbf;  
    position:absolute;
    bottom: 0;
    right: 15;
}
.contInfo li{
    font: 18px 'Roboto', sans-serif;
    font-weight:300;
}
.personPhoto{
    width:75px;
    height: 75px;
    border-radius: 50px;  
    position:absolute;
    left:20px;
    top: 15px;
    background: #DADADA;
    box-shadow: 2px 2px 15px #303030;
}
.contInfo li i.small{
    margin: 3px 3px 0 0; 
    font-size: 17px;
    color: FFF;
}
.contInfo li i#person {
    margin: 0 10px 0 0!important;  
    color: FFF;
}
.contInfo li i#phone {
    margin: 0 30px 0 0!important;   
    color: #FFF;
}
.topRow{
    width:100%;
    height:145px;
}
.bottomRow {
    width:100%; 
    height: 55px;
    border-top: 1px solid rgba(238, 238, 238, 0.44);
}

/* welcome Content */
.welcomeContent{
    height: 225px;
}
